.main-div {
    width: 100%;
    display: flex;
}

.two-thirds {
    flex: 5;
    background-color: lightgray;
    height: 200px;
    
}

.one-third {
    flex: 4;
    background-color: darkgray;
    height: 200px;
}

.content-div {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text {
    color: red;
    font-size: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.input {
    width: 50%;
    height: 40px;
    padding: 5px;
    border: none;
    border-radius: 0;
}

.button {
    width: 40px;
    height: 40px;
    background-color: green;
    border: none;
    border-radius: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    cursor: pointer;
}

.button-icon {
    color: white;
}