<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <title>Navigation Bar Example</title>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/base.css">
    {% block link %}{% endblock %}
</head>
<body>
    <div class="navigation">
        <div class="logo">
            <img src="path/to/logo.png" alt="Logo">
        </div>
        <div class="buttons">
            <a href="/recipes/">Recepten</a>
            <a href="#">Ingredienten</a>
            <a href="#">news</a>
            <a href="#">reviews</a>
        </div>
        <div class="seasoned">
            Seasoned
        </div>
    </div>
    {% block content %}{% endblock %}
</body>
</html>
