{% extends "base.html" %}

{% block link %}
<link rel="stylesheet" type="text/css" href="../static/stylesheets/recipes.css">
{% endblock %}

{% block content%}
<div class="main-div">
    <div class="large">
        <div class="search-div">
            <div class="text">Vind hier al je wereldse recepten</div>
            <div class="search-bar">
                <input type="text" class="search-input" placeholder="Search">
                <button class="search-button">
                    <i class="search-button-icon">🔍</i>
                </button>
            </div>
        </div>
    </div>
    <div class="small">
        <div class="carousel-div">
            <img class="carousel carousel-image" src="../static/images/pic1.jpg" alt="Image 1">
            <img class="carousel carousel-image" src="../static/images/pic2.jpg" alt="Image 2">
            <img class="carousel carousel-image" src="../static/images/pic3.jpg" alt="Image 3">
            <img class="carousel carousel-image" src="../static/images/pic4.jpg" alt="Image 4">
            <div class="carousel-text">
                Bringing food of the world to your kitchen
            </div>
        </div>
    </div>
</div>
<div class="main-div">
   
</div>



<script>
    // JavaScript code to implement carousel functionality
    const carouselImages = document.querySelectorAll('.carousel-image');
    let currentIndex = 0;
    carouselImages[currentIndex].style.display = 'block';

    setInterval(() => {
        carouselImages[currentIndex].style.display = 'none';
        currentIndex = (currentIndex + 1) % carouselImages.length;
        carouselImages[currentIndex].style.display = 'block';
    }, 6000);
</script>
{% endblock %}